 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/f25a92cdbc8273e14c1df5e1943949d2f47120c527506345675ad96369bca0e2f6a871f6340b7c60488c69826272e859978bdf18368cf9023c4aee_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1665px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  font-family: Roboto, sans-serif;
  background-image: none;
  font-weight: normal;
  font-size: 3rem;
  margin: 69px auto 0 227px;
}

.u-section-1 .u-icon-1 {
  margin-right: 14px;
  vertical-align: -1px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  text-align: right;
  font-family: Roboto, sans-serif;
  font-size: 2.25rem;
  margin: 42px auto 0 402px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  margin: 69px auto 0 274px;
}

.u-section-1 .u-group-1 {
  width: 671px;
  min-height: 1154px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  background-image: none;
  margin: 53px auto 0 -61px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 5px;
}

.u-section-1 .u-text-4 {
  margin: 21px auto 0;
}

.u-section-1 .u-form-1 {
  height: 1061px;
  margin: 0 59px 0 42px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1rem;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-label-3 {
  font-size: 1rem;
}

.u-section-1 .u-input-3 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-label-6 {
  font-size: 1rem;
}

.u-section-1 .u-input-4 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-12 {
  width: 100%;
}

.u-section-1 .u-label-12 {
  font-size: 1rem;
}

.u-section-1 .u-input-5 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-13 {
  width: 100%;
}

.u-section-1 .u-label-13 {
  font-size: 1rem;
}

.u-section-1 .u-input-6 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-14 {
  width: 100%;
}

.u-section-1 .u-label-14 {
  font-size: 1rem;
}

.u-section-1 .u-input-7 {
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-15 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.125rem;
}

.u-section-1 .u-image-1 {
  width: 557px;
  height: 1154px;
  margin: -1154px 13px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 2489px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 67px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 43px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 74px;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    width: 487px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }

  .u-section-1 .u-form-group-5 {
    width: 100%;
  }

  .u-section-1 .u-form-group-7 {
    width: 100%;
  }

  .u-section-1 .u-form-group-8 {
    width: 100%;
  }

  .u-section-1 .u-form-group-9 {
    width: 100%;
  }

  .u-section-1 .u-form-group-10 {
    width: 100%;
  }

  .u-section-1 .u-form-group-11 {
    width: 100%;
  }

  .u-section-1 .u-image-1 {
    width: 671px;
    margin-top: 29px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2579px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
    margin-right: 41px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 84px;
  }

  .u-section-1 .u-image-1 {
    width: 672px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 74px;
    margin-right: 46px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 23px;
    margin-right: 118px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 33px;
    margin-right: 13px;
    margin-left: 1px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 103px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 846px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1521px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 76px;
    margin-right: 21px;
    margin-left: -21px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 41px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 533px;
    margin-top: -1154px;
    margin-right: 0;
  }
}
